body{
    margin: 0px;
        font-family:fantasy
}
div img{
    width: 125px;
    height: 48px;
}
header{
    display:flex;
    top:0;
    width: 100%;
    background-color: rgba(51, 29, 1, 0.814);
    opacity: 98%;
    box-shadow: 0 0 5px black;
    justify-content:space-between;
    position:fixed;
    z-index: 1;
    color: rgb(236, 235, 231);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a{
    padding: 10px 40px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-align: center;
    height: 5px;
    width: 50px;
    float: left;
    text-shadow: 0 0 2px gray;
}
nav a:hover{
    background-color: rgba(126, 102, 5, 0.674);
    transform: scale(1.1);
    transition: 0.3s ease;
    font-weight: bold;
    color: white;
}
}
section.home{
    background:url(gambar/7.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 600px;
    padding-top: 200px;
}
section.home div{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
    padding: 20px;
    text-shadow: 4px rgb(2, 2, 2);
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.gradient-text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    background: linear-gradient(to right, #ffffff, #fffffffb,rgb(164, 124, 2),rgb(255, 255, 255));
    background-clip: text;
    color: transparent;
    font-size: 13px;
    text-shadow: 10px #000000d9;
    text-align: center;
    margin: auto;
    padding: 10px;
}
section.home a{
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius:  20px ;
    background-color: rgba(148, 111, 8, 0.845);
    font-size: 10px;    
    font-weight: bold;
}

section.about{
    background-image: url(gambar/yy.jpg);
    height: 600px;
    padding-top: 100px;
}
section.about div{
    color:white;
    text-align: center;
    margin: auto;
    width: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section.about img{
    height:350px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 8px;
}

section.product{
    background: url("gambar/batik3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
section.product .container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding: 50px 20px;
}
section.product .container .card{
    background-color: rgba(247, 229, 165, 0.923);
    text-align: center;
    padding: 5px;
    width:250px;
    height: 450px;
    margin:15px;
    border-radius: 8px;
    box-shadow: 8px;
}
section.product .container .card img{
    width: 200px;
    height: 180px;
}
section.product .container .card a{
    color:rgb(255, 255, 255);
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    background-color: rgb(85, 60, 1);
    transition: background-color 0.3s ease;
}
section.product .container .card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
section.product .container .card a:hover {
    background-color: #c49d0b;
    color: black;
    font-weight: bold;
    transform: scale(1.1);
}

section.contact{
    background-image: url(gambar/l.png);
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
}
section.contact .card{
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 400px;
    width: 400px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: inherit;
    text-shadow: 12px black;
}
section.contact .card img{
    width: 320px;
    height: 200px;
    margin: auto;
    padding-top: 150px;
    text-align: center;
}
footer{
    background-color: rgba(70, 46, 2, 0.858);
    height: 50px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
}
footer .medsos a{
    color:rgba(255, 255, 255, 0.782);
    font-size: 20px;
    padding: 5px 20px;
}
